.UseCase {
    display: inline-block;
    width: 480px;
    height: 180px;
    border: solid gray 1px;
    /*margin: 15px;*/
    overflow: hidden;
    clear: both;
    position: relative;
}

.UseCase h2 {
    line-height: 20px;
}

.UseCaseImg {
    width: 150px;
    height: 150px;
    top: 0px;
    position: absolute;
    float: left;
    vertical-align: top;
    margin-top: 15px;
    margin-right: 10px;
    line-height: 150px;
    text-align: center;
}

.UseCaseDescription {
    /*display: block;*/
    position: absolute;
    left: 155px;
    top: 0;
    width: 300px;
    height: 180px;
    overflow: hidden;
}